.card {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  margin-bottom: 0.5rem;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.title {
  padding-top: 10px;
  padding-bottom: 43px;
}

.sub-title {
  padding-top: 10px;
  padding-bottom: 5px;
}

.requests-text {
  color: #536C79;
  padding-bottom: 20px;
}
