<div class="row">
  <div class="col-lg-9">
    <h2 class="py-4" *ngIf="latestCourses[0]"> <span [translate]="'Grades.ExamPeriod'"></span> :
      {{latestCourses[0].courseExam.examPeriod.name}} {{latestCourses[0].courseExam.year.name}}
    </h2>

    <div *ngFor="let course of latestCourses; let i = index;">
      <div class='card'>
        <div class='card-body'>
          <div class='row'>
            <div class='col-7 align-self-center'>
              <div class='row card-body-title col-12' >
                <h5>
                  {{course.course.name}}
                </h5>
              </div>
              <div class='row card-body-title'>
                <div class='col-5 col-lg-4 d-none d-sm-block'>
                  <h6>
                    <i class =" fa fa-flag-checkered "></i>   {{course.course.displayCode}}
                  </h6>
                </div>
                <div class='col-7 col-lg-8 d-none d-sm-block mr-auto'>
                  <h6>
                    <div *ngIf="course.courseClass.instructors.length == 0; else notShow">
                      <i class ="fa fa-user-secret"></i> <span [translate]="'Grades.InstructorNotFound'"></span>
                    </div>
                    <ng-template #notShow>
                    <i class ="fa fa-user-secret"></i>  <span  *ngFor="let instructor of course.courseClass.instructors; let isLast=last">
                    {{instructor.instructor.givenName}} {{instructor.instructor.familyName}} {{isLast ? '' : ', '}}
                  </span>
                    </ng-template>
                    <!--{{ course.courseClass.instructors[0].instructor.familyName }}
                    {{ course.courseClass.instructors[0].instructor.givenName }} -->
                  </h6>
                </div>
              </div>
            </div>
            <div class='col-2 align-self-center d-none d-sm-block'>
              <button type="button" class="btn btn-outline-secondary btn-sm rounded text-secondary" disabled [translate]="'Grades.Stats'"></button>
            </div>
            <div class='col-3 col-md-2 ml-auto' [ngClass]="(course.isPassed)?'passed-grade':'failed-grade'">
              {{course.formattedGrade}}
            </div>
            <div class="col-2 col-md-1 align-self-center d-block d-sm-none">
              <i class="fa" [ngClass]="(isCollapsed[i])?'fa-chevron-down':'fa-chevron-up'"
                 (click)="isCollapsed[i] = !isCollapsed[i]"></i>
            </div>
            <div [collapse]="isCollapsed[i]">
              <div class="d-block d-md-none align-self-center col-12">

                <h6>
                  <i class =" fa fa-flag-checkered "></i>  {{course.course.displayCode}}
                </h6>
                <h6>
                  <div *ngIf="course.courseClass.instructors.length == 0; else notShow">
                    <i class ="fa fa-user-secret"></i> <span [translate]="' Grades.InstructorNotFound'"></span>
                  </div>
                  <ng-template #notShow style="overflow: hidden;">
                    <div style="float: left;padding-right: 5px;"><i class ="fa fa-user-secret"></i></div>
                    <div style="overflow: hidden;">
                      <span  *ngFor="let instructor of course.courseClass.instructors; let isLast=last">
                        {{instructor.instructor.givenName}} {{instructor.instructor.familyName}} {{isLast ? '' : ', '}} <br />
                      </span>
                    </div>
                  </ng-template>
                </h6>
                <button type="button" class="btn btn-outline-secondary btn-sm rounded text-secondary" disabled [translate]="'Grades.Stats'"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div *ngIf="latestCourses[0]" class="d-none d-lg-block">
      <app-grades-statbox
        title = "{{ 'Grades.PeriodStats' | translate}}"
        statsPeriod = "{{ latestCourses[0].courseExam.examPeriod.name }} {{ latestCourses[0].courseExam.year.name }}"
        [registeredCourses] = "registeredCourseCount"
        [passedCourses] = "passedCourseCount"
        [failedCourses] = "failedCourseCount"
        [passedGradeAverage] = "passedGradeAverage"></app-grades-statbox>
    </div>
  </div>
</div>
