.1280-clear-content-area {
  //  height: 968px;
  padding: 150px;
  width: 50%;
}

.card {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  margin-bottom: 0.5rem;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.text-secondary {
  padding-left: 25px;
  padding-right: 25px;
}

.text {
  //  height: 25.63px;
  //  width: 119.15px;
  color: #A4B7C1;
  //font-family: "Segoe UI";
  font-size: 14px;
  letter-spacing: -0.33px;
  line-height: 19px;
  text-align: center;
}

.passed-grade {
  //  height: 61.5px;
  //  width: 56.06px;
  color: #4DBD74;
  //font-family: "Segoe UI";
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.76px;
  //  line-height: 43px;
  text-align: center;
}

.failed-grade {
  //  height: 61.5px;
  //  width: 56.06px;
  color: #A4B7C1;
  //font-family: "Segoe UI";
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.76px;
  //  line-height: 43px;
  text-align: center;
}

.text-details {
  color: #A4B7C1;
}
